.works{
    padding: 122px 0 128px;
}
.works__card{
    text-align: center;
    padding: 49px 33px 47px 33px;
    background: #FFFFFF;
    border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}